<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dad Jokes</title>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
</head>
<body>
    <div class="flex-container">
        <div class="row">
            <div class="flex-item">
                <span class="setup">{{ .DadJoke.Setup }}</span>
            </div>
            <div class="flex-item">
                <span class="punchline">{{ .DadJoke.Punchline }}</span>
            </div>
        </div>
    <div>
</body>
</html>
